<html><div>Node V2 Please read the following pages for more information: <a href="https://www.ng.bluemix.net/docs/#starters/mobile.html">Creating mobile applications</a></div>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Lab Stock Demo</title>
</head>
 <link rel='stylesheet' href='/stylesheets/style.css' />
<body>
   	<table class="resulttable">
    		<col></col>
    		<tbody>
    		<tr><td><h1>Stock Results</h1></td></tr>	

 			<tr><td>Stock Results: <%= res %></td></tr>
 			</tbody>
 		</table>
</body>
</html>