<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Your name is here web site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your name is here web site</h1>
    <p>Click on a link to visit a page.</p>
    <ul>
		<li><a href="sports.html">My favorite sports</a></li>
		<li><a href="aboutme.html">About Me</a></li>
	</ul>
    <p>The user count in my nodejs application is: <%= userCount %></p>  
    <p>The user by two count in my nodejs application is: <%= userbytwo %></p>    
  </body>
</html>